# Add these variables in your parameter store. 

aws_region=us-east-1
encryption_key=YOUR_CLIENT_SIDE_ENCRYPTION_KEY 
hdfs_path=http://localhost:9870
hdfs_url=YOUR_PATH_OF_FILE_TO_BE_TRANSFERED
hdfs_user=YOUR_HDFS_USERNAME
log_group=YOUR_LOG_GROUP_NAME
role_arn=YOUR_IAM_ROLE_ARN
s3_bucket_name=YOUR_S3_BUCKET_NAME
s3_file_key=YOUR_S3_FILE_KEYNAME
sns_topic_arn=YOUR_SNS_TOPIC_ARN



